* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #04d361;
  --form-color: #a8a8a8;
  --bg-button-color: #8257e5;
}

/* background */
.container {
  display: flex;
  height: 100vh;
  color: var(--text-color);
}

.background {
  flex: 1;
  background: var(--body-bg-color);
}

.image {
  flex: 1;
  background-image: url(/assets/read_news.jpg);
  background-size: cover;
  background-position: 70%;
}

/* logo */
img {
  margin: 50px 0 0 30px;
}

/* conteúdo */
.content {
  margin: 92px 0 0 30px;
}

.content h3 {
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 700;

  color: var(--title-color);
}

.content p {
  font-family: "Spartan";
  font-size: 16px;
  font-weight: 700;

  line-height: 16px;

  margin: 9px 0 9px 0;
}

.content span {
  font-family: "Spartan";
  font-size: 14px;
  font-weight: 400;

  line-height: 19px;
}

/* email */
form {
  margin: 50px 0 0 30px;
  color: var(--form-color);
}

form p {
  font-family: "Spartan";
  font-size: 14px;
  font-weight: 700;

  margin: 0 0 17px 0;
}

.green {
  border: solid 3px var(--title-color);
  display: inline-flex;

  height: 48px;
  width: 5px;
}

#e-mail {
  padding-left: 10px;
  position: absolute;

  width: 750px;
  height: 48px;
}

#submit {
  background: url(/assets/send.svg);
  background-size: cover;
  position: absolute;
  margin-left: 750px;
  width: 48px;
  height: 48px;
}

/* leitura */
.reading {
  margin: 20px 0 0 30px;
  display: flex;
}

.reading a img {
  width: 24px;

  position: relative;
  right: 25px;

  padding-bottom: 48px;
}

.reading a {
  text-decoration: none;
  color: var(--bg-button-color);

  font-family: "Spartan";
  font-weight: 700;
  font-size: 14px;

  align-items: center;
  display: flex;
}

/* @media (max-width: 1000px) {
  .image {
    background: black;
  }
} */
