* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* background */
.container {
  display: flex;
  height: 100vh;
}

.background {
  flex: 1;
  background: black;
}

.image {
  flex: 1;
  background-image: url(/assets/read_news.jpg);
  background-size: cover;
  background-position: 70%;
}



/* @media (max-width: 1000px) {
  .image {
    background: black;
  }
} */